<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
</head>
<body ng-app="homeApp">


	<div class="container">

		<div ng-controller="HomeCtrl">
			
			<div>
				<h1 th:text="#{label.home.welcome}">Bem vindo ao Questionário!</h1>
				<br/>
			</div>

			<div>
				<h1> Jogar! </h1>
				<a href="/quiz/1/play" class="btn btn-primary">
					<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
				</a>
			</div>

			<div class="text-center">
				<button th:text="#{label.home.maintable.loadmore}" class="btn btn-default" ng-click="loadNextPage()" ng-show="pagination.morePagesAvailable">Load more...</button>
			</div>
			
		</div>

	</div>
	
	<div th:replace="fragments/angular :: angular">...</div>
	<script type="text/javascript" src="../js/homeApp.js"
		        th:src="@{/js/homeApp.js}"></script>
		        
</body>
</html>